body{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    background-color: black;


}
#input-container {
    border: 5px solid white;
    padding: 10px;
    background-color:white;
}
.change-cursor {
    cursor:pointer;
}